/* connect font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
/* first setting html tag */
a {
    text-decoration: none;
    color: black;
}
body{
    background-color: #fff;
    font-family: "Red Hat Display", sans-serif;
}
header {
    width: 100%;
    height: 102px;
    background-color: white;
    border-radius: 0px 0px 48px 48px;
    position: fixed;
    z-index: 2;
}
/* Styles */
h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 110%;
}
l {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px; 
    line-height: 150%;
}
/* Buttons */
.primary {
    font-family: "Manrope", sans-serif;
    border: none;
    border-radius: 72px;
    text-align: center;
    background-color: #F37021;
    color: white;
    height: 72px;
    font-size: 16px;
    padding-left: 2%;
    padding-right: 2%;
}
.primary:hover {
    background-color:#F6F3EC;
    color: black;
}
.second {
    border: 1px solid black;
    border-radius: 72px;
    text-align: center;
    background-color: none;
    color: black;
    height: 72px;
    font-size: 16px;
    padding-left: 4%;
    padding-right: 4%;
}
.second:hover {
    border: none;
    background-color: #DB6610;
    color: white;
}
.third{
    border: 1px solid white;
    border-radius: 72px;
    height: 72px;
    color: white;
    font-size: 16px;
    padding-left: 4%;
    padding-right: 4%;
    background: none;
}
.third:hover{
    background-color: white;
    color: black;
}
/* help styles */
.flex {
    display: flex;
}
/* header section */
.logo {
    height: 57px;

}
.logo img:last-child{
    margin-left: 20px;
}
.header-items {
    width: 90%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}
.nav-items {
    display: flex;
    width: 57%;
    font-size: 18px;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    margin-left: 3%;
   
}
.number {
    color: #F37021;
}
header button {
    margin-left: 30px;
    /* width: 212px; */
}
/* Dropdown Menu */
.nav-dropdown{
    display: inline;
}
.nav-dropdown a:hover {
    color:#F37021;
}
.nav-dropdown-content {
    display:none;
    opacity: 0;
    position: absolute;
    width: 20%;
    background-color: #F6F3EC;
    font-size: 18px;
    line-height: 50px;
    padding: 20px;
    border-radius: 0 0 24px 24px;
    /* margin-top: 3%; */
    /* padding-top:3%; */
}
.nav-dropdown-content a:hover {color:#F37021;}
.nav-dropdown:hover .nav-dropdown-content {
    display:block;
    animation-duration: 0.5s;
    animation-name: smooth-apperance;
    animation-fill-mode: forwards;
}
@keyframes smooth-apperance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* first screen section */
.first-screen {
    background-image: url('/assets/img/first-screen.jpg');
    /* background-size: cover; */
    background-size:cover;
    background-repeat: no-repeat;
    height: 690px;
    display: flex;
    align-items: center;
    border-radius: 0 0 72px 72px;
}
.content-first-screen {
    margin: auto;
    color: white;
    text-align: center;
    align-items: center;
}
.title-content-first-screen {
    margin-top: 20px;
}
.btns-content-first-screen{
    display: flex;
    margin: auto;
    margin-top: 25px;
    width: 65%;
    justify-content: space-between;
}
.btns-content-first-screen button {
    min-width: 237px;
}
/* successes section */
.successes {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 18px;
}
.item-successes img{
    height: 25px;
    width: 20px;
    background-color: #F6F3EC;
    padding: 10px;
    border-radius: 50px;
}
.title-item-successes {
    margin-left: 20px;
    font-family: "Manrope", sans-serif;

}
.title-item-successes span{
    font-weight: 700;
    line-height: 27px;
}