/* connect font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
/* first setting html tag */
a {
    text-decoration: none;
    color: black;
}
body{
    position:relative;
    background-color: #fff;
    font-family: "Red Hat Display", sans-serif;
}
header {
    width: 100%;
    height: 102px;
    background-color: white;
    border-radius: 0px 0px 48px 48px;
    position: fixed;
    z-index: 2;
}
/* Styles */
h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;
}
h2 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}
h3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
}
l {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px; 
    line-height: 150%;
}
.s {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px; 
    line-height: 150%; 
}
xs {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px; 
    line-height: 150%; 
}
.m {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px; 
    line-height: 150%; 
}
.input {
    border: 1px solid #D9D9D9;
    font-size: 16px;
    min-height: 48px;
    border-radius:   16px;
}
.input:focus {
    color: #5E5E5E;
    outline: none;
    border: 1px red solid;
}
/* Buttons */
.primary {
    font-family: "Manrope", sans-serif;
    border: none;
    border-radius: 72px;
    text-align: center;
    background-color: #F37021;
    color: white;
    height: 72px;
    font-size: 16px;
    padding-left: 2%;
    padding-right: 2%;
}
.primary:hover {
    background-color:#F6F3EC;
    color: black;
}
.second {
    border: 1px solid black;
    border-radius: 72px;
    text-align: center;
    background-color: transparent;
    color: black;
    height: 72px;
    font-size: 16px;
    padding-left: 4%;
    padding-right: 4%;
}
.second:hover {
    border: none;
    background-color: #DB6610;
    color: white;
}
.third{
    border: 1px solid white;
    border-radius: 72px;
    height: 72px;
    color: white;
    font-size: 16px;
    padding-left: 4%;
    padding-right: 4%;
    background: none;
}
.third:hover{
    background-color: white;
    color: black;
}
/* help styles */
.flex {
    display: flex;
}
.subhead {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
}
/* header section */
.logo {
    height: 57px;

}
.logo img:last-child{
    margin-left: 20px;
}
.header-items {
    width: 90%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}
.nav-items {
    display: flex;
    width: 57%;
    font-size: 18px;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    margin-left: 3%;
   
}
.number {
    color: #F37021;
}
header button {
    margin-left: 30px;
    /* width: 212px; */
}
/* Dropdown Menu */
.nav-dropdown{
    display: inline;
}
.nav-dropdown a:hover {
    color:#F37021;
}
.nav-dropdown-content {
    display:none;
    opacity: 0;
    position: absolute;
    width: 20%;
    background-color: #F6F3EC;
    font-size: 18px;
    line-height: 50px;
    padding: 20px;
    border-radius: 0 0 24px 24px;
    /* margin-top: 3%; */
    /* padding-top:3%; */
}
.nav-dropdown-content a:hover {color:#F37021;}
.nav-dropdown:hover .nav-dropdown-content {
    display:block;
    animation-duration: 0.5s;
    animation-name: smooth-apperance;
    animation-fill-mode: forwards;
}
@keyframes smooth-apperance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* first screen section */
.first-screen {
    background-image: url('/assets/img/first-screen.jpg');
    /* background-size: cover; */
    background-size:cover;
    background-repeat: no-repeat;
    height: 690px;
    display: flex;
    align-items: center;
    border-radius: 0 0 72px 72px;
}
.content-first-screen {
    margin: auto;
    color: white;
    text-align: center;
    align-items: center;
}
.title-content-first-screen {
    margin-top: 20px;
}
.btns-content-first-screen{
    display: flex;
    margin: auto;
    margin-top: 25px;
    width: 65%;
    justify-content: space-between;
}
.btns-content-first-screen button {
    min-width: 237px;
}
/* successes section */
.successes {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 18px;
}
.item-successes img{
    height: 25px;
    width: 20px;
    background-color: #F6F3EC;
    padding: 10px;
    border-radius: 50px;
}
.title-item-successes {
    margin-left: 20px;
    font-family: "Manrope", sans-serif;

}
.title-item-successes span{
    font-weight: 700;
    line-height: 27px;
}
/* services section */
.services {
    background-color: #F6F3EC;
    padding-bottom: 100px;
    border-radius: 72px;
}
.services> h2 {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 20px; 
}
.item-services {
    display: flex;
    width: 90%;
    margin: auto;
    height: 466px;
    background-color: #fff;
    align-items: center;
    border-radius:32px;
    margin-top: 20px;
}
.item-services img {
    height: 90%;
    height: 418px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius:32px;
}
.text-item-services {
    color: #5E5E5E;
    margin-right: 5%;
    margin-left: 5%;
    
}
.text-item-services h3 {
    margin-top: 10px;
    color: black;
}
.text-item-services xs {
    margin-top: 20px;
    
}
.s {
    margin-top: 20px;
}
.text-item-services button {
    margin-top: 30px;
    width: 150px;
}
.flex-reverse {
    flex-direction: row-reverse;
}
/* Gallery section */
.gallery {
    background-image: url('/assets/img/gallerybg.png');
    height: 1039px;
    margin-top: 100px;
    background-size: cover;
    border-radius: 72px;
    color: white;
    justify-content: space-between;
}
.title-row-gallery {
    padding-top: 100px; 
    width: 90%;  
    margin: auto;
    /* align-items: center; */
    justify-content: space-between;
}
.item-title-row-gallery {
    width: 40%;
}
.pre-title-row-gallery {
    width: 60%;
}
.pre-title-row-gallery button {
    margin-top: 40px; 
}
.img-gallery {
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 5%;
}
.img-gallery div {
    width: 49%;
    
}
.img-gallery div  img{
    width: 100%;
    height: 535px;
    border-radius: 24px;
}
.change-img-gallery p{
    position: absolute;
    margin: 2% 0 0 3%;
    color: black;
    background-color: white;
    padding: 16px 32px;
    border-radius: 72px;
    font-size: 16px;
    font-weight: 600;
}
.control-gallery {
    padding-top: 2%;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.link-controll-gallery {
    width: 60%;
}
.btns-control-gallery {
    width: 50%;
    color: white;
    justify-content: end;
}
.btns-control-gallery button {
    padding: 0 5%;
    margin-left: 5px;
}
.link-controll-gallery a {
    font-size: 16px;
    color: white;
}
.item-img-gallery  {
    justify-content: space-between;
    width: 90%;
}
.item-img-gallery div{
    width: 100%;
    margin: 4% 0px 0px 5%;
    color: black;
}
.item-img-gallery div p {
    background-color: white;
}

/* testimonials */
.testimonials {
    width: 90%;
    margin: auto;
    margin-top: 80px;
}
.title-testimonials {
    
    justify-content: space-between;
}
.title-testimonials p {
    align-items: center;
    width: 55%;
    color: #5E5E5E;
}
.row-item-postimonials{
    justify-content: space-between;
    margin-top: 30px;
}
.item-postimonials {
    width: 26%;
    /* height: 389px; */
    background-color: #FAFAFA;
    border-radius: 32px;
    font-size: 18px;
    font-weight: 500;
    color: #5E5E5E;
    line-height: 150%;
    padding: 3%;
}
.item-postimonials p {
    margin-top: 20px;
}
.item-postimonials span {
    padding-top: 20px;
}
.star-item-postimonials img {
    height: 22px;
    width: 22px;
}
.author-item-postimonials {
    font-size: 16px;
    font-weight: 400;
}
/* feedback section */
.feedback {
    height: 894px;
    background-image: url("/assets/img/feedback.png");
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border-radius: 72px;
    margin-bottom: -200px;
    position: inherit;
}
.items-feedback {
    margin: auto;
    width: 90%;
    margin-top: 7%;
    justify-content: space-between;
}
.img-items-feedback{
 width: 58%;
}
.img-items-feedback img{
    width: 100%;
    height: 100%;
    border-radius: 32px;
}
.items-feedback form {
    width: 39%;
}
.items-feedback form p {
    color: #5E5E5E;
    margin-top: 10px;
}
.input-form-feedback {
    position: relative;
    margin: 5px 0;
    width: 100%;
}
.inputs-form-feedback{
    margin-top: 20px;
}
.form-input {
    font-family: "Manrope", sans-serif;
    padding: 2px 0px 0px 15px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    color: #5E5E5E;
    height: 48px;
}
.form-input:focus {
    border: 1px solid #D9D9D9;
}
.form-input input::content{
    border: 1px solid #5E5E5E;
}
.form-label {
    position: absolute;
    left: 15px;
    top: 35%;
    font-size: 16px;
    transition: 0.2s ease all;
    color: #999;
    pointer-events: none; /* Чтобы метка не мешала вводу */
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    top: 15%;
    font-size: 10px;
    color: #5E5E5E; /* Цвет метки при фокусе */
    font-weight: 700;
    text-transform: uppercase;
}
.inputs-row {
    justify-content: space-between;
}
.inputs-row > .input-form-feedback input{
    width: 90%;
}
.input-form-feedback input{
 width: 95%;
}
#message {
    height: 122px;
    width: 95%;
}
form button {
    width: 100%;
    margin-top: 3px;
}

/* Footer */
footer {
    background-color: #342F28;
    height: 471px;
    margin-top: 5%;
    padding-top: 12%;
}
.folowbtn {
    border: none;
    width: 48px;
    height: 48px;
    background-color:#F37021;
    border-radius: 48px;
}
.footer-items {
    width: 95%;
    justify-content: space-between;
    margin: auto;
    color: white;
}
.column-footer{
    width: 25%;
    padding-left: 20px;
}
.text-footer {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    line-height: 150%;
    margin-top: 50px;
}
.text-footer a {
    color:#F37021;
}
.link-text-footer {

    font-size: 18px;
    padding-top: 10px;

}
.btns-text-footer {
    margin-top: 20px;
}
.link-column-footer {
width: 18%;
}
.links-text-footer a {
    color: white;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    list-style: 27px;
}
.links-text-footer a:hover{
    color:#F37021;
}
.created-site{
    width: 67%;
    margin-left: auto;
    font-size: 14px;
    color: white;
    margin-top: -20px;
}
.created-site p {
    text-transform: uppercase;
}
.created-site span {
    margin-left: 18%;
}
/* mobile adaptation */
@media screen and (max-width : 1024px) {

}
@media screen and (max-width : 800px) {
    
}
@media screen and (max-width : 420px) {
    header {
        height: 57px;
        border-radius: 8px;
        width: 100%;
        position: fixed;
    }
    header button {
        display: none;
    }
    .nav-items{
        display: none;
    }
    .logo {
        width: 150px;
        height: 38px;
    }
    .logo img{
        margin-left: 20px;
    }
    .header-items {
        width: 100%;
        margin:unset;
    }
    h1 {
        font-size: 42px;
    }
    .first-screen {
        height: 517px;
        border-radius: 40px;
    }
    .content-first-screen{
        width: 100%;
        margin-top: 25%;
    }
    .btns-content-first-screen {
        display: block;
        width: 100%;
        height: 100%;
    }
    .btns-content-first-screen button {
        margin-top: 20px;
    }
    .primary {
        width: 90%;
    }
    .third {
        width: 90%;
    }
    l {
        font-size: 18px;
    }
    .title-content-first-screen {
        width: 90%;
        margin: auto;
    }
    .successes {
        display: block;
    }
    .item-successes {
        margin-top: 30px;
    }
    .item-services {
        display: block;
        height: unset;
        padding-bottom: 10px;
    }
    .item-services img {
        width:95% ;
        height:50% ;
        margin-top: 10px;
        
        
    }
}