/* connect font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Optimized code */
.flex {
    display: flex;
}
.flex-dir-reverse {
    flex-direction: row-reverse;
}
.jc-sb {
    justify-content: space-between;
}
.jc-end {
    justify-content: end;
}
.m-auto {
    margin:auto;
}
.mt-10px {
    margin-top: 10px;
}
.mt-20px{
    margin-top: 20px;
}
.mt-30px {
    margin-top: 30px;
}
.mt-50px {
    margin-top: 50px;
}
.mt-100px {
    margin-top: 100px;
}
.mt-5pc {
    margin-top: 5%;
}
.c-white{
    color: white;
}
.c-black{
    color: black;
}
.c-gray {
    color: #5E5E5E;
}
.w-100pc {
    width: 100%;
}
.w-49pc {
    width: 49%;
}
/* first setting html tag */
a {
    text-decoration: none;
    color: black;
}
body{
    position:relative;
    background-color: #fff;
    font-family: "Red Hat Display", sans-serif;
}
header {
    width: 100%;
    height: 102px;
    background-color: white;
    border-radius: 0px 0px 48px 48px;
    position: fixed;
    z-index: 2;
}
h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 110%;
}
h2 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}
h3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
}
h4 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
}
h5 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}
/* text class */
.l {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px; 
    line-height: 150%;
}
.s {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px; 
    line-height: 150%; 
}
.xs {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px; 
    line-height: 150%; 
}
.m {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px; 
    line-height: 150%; 
}
.s {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 150%;
}
.xs {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px; 
    line-height: 150%;
}
.btn-text {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px; 
    line-height: 150%;
}
.subhead {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
}
.input-heading {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
}
/* inputs */
input, textarea,select {
    border: 1px solid #D9D9D9;
    font-size: 14px;
    min-height: 48px;
    border-radius: 16px;
    box-sizing: border-box;
    text-indent: 2%; /* Отступ текста внутри input */
}

input,textarea, select:focus {
    color: #151515;
    outline: none;
}
textarea{
    padding-top: 4%;
    height: 122px;
    padding-left: 2%;
}
/* Buttons */
.primary {
    border: none;
    border-radius: 72px;
    text-align: center;
    background-color: #F37021;
    color: white;
    min-height: 72px;
    min-width: 237px;
    padding-left: 2%;
    padding-right: 2%;
}
.primary:hover {
    background-color:#F6F3EC;
    color: black;
}
.secondary {
    border: 1px solid black;
    border-radius: 72px;
    text-align: center;
    background-color: transparent;
    color: black;
    min-height: 72px;
    padding-left: 4%;
    padding-right: 4%;
    min-width: 150px;
}
.secondary:hover {
    border: none;
    background-color: #DB6610;
    color: white;
}
.thirdy{
    border: 1px solid white;
    border-radius: 72px;
    min-height: 72px;
    color: white;
    padding-left: 4%;
    padding-right: 4%;
    background: transparent;
}
.thirdy:hover{
    background-color: white;
    color: black;
}
/* header section */
.logo {
    height: 57px;

}
.logo img:last-child{
    margin-left: 20px;
}
.header-items {
    width: 90%;
    align-items: center;
}
.nav-items {
    width: 57%;
    font-weight: 600;
    margin-left: 3%;
   
}
.number {
    color: #F37021;
}
header button {
    margin-left: 30px;
    /* width: 212px; */
}
/* Dropdown Menu */
.nav-dropdown{
    display: inline;
}
.nav-dropdown a:hover {
    color:#F37021;
}
.nav-dropdown-content {
    display:none;
    opacity: 0;
    position: absolute;
    width: 20%;
    background-color: #F6F3EC;
    font-size: 18px;
    line-height: 50px;
    padding: 20px;
    border-radius: 0 0 24px 24px;
}
.nav-dropdown-content a:hover {color:#F37021;}
.nav-dropdown:hover .nav-dropdown-content {
    display:block;
    animation-duration: 0.5s;
    animation-name: smooth-apperance;
    animation-fill-mode: forwards;
}
@keyframes smooth-apperance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* first screen section */
.first-screen {
    background-image: url('/assets/img/first-screen.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 690px;
    align-items: center;
    border-radius: 0 0 72px 72px;
}
.content-first-screen {
    color: white;
    text-align: center;
    align-items: center;
}

.btns-content-first-screen{
    width: 65%;
}
.btns-content-first-screen button {
    min-width: 237px;
}
/* successes section */
.successes {
    width: 85%;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 18px;
}
.item-successes img{
    height: 25px;
    width: 20px;
    background-color: #F6F3EC;
    padding: 10px;
    border-radius: 50px;
}
.title-item-successes {
    margin-left: 20px;
    font-family: "Manrope", sans-serif;

}
.title-item-successes span{
    font-weight: 700;
    line-height: 27px;
}
/* services section */
.services {
    background-color: #F6F3EC;
    padding-bottom: 100px;
    border-radius: 72px;
}
.services> h2 {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 20px; 
}
.item-services {
    width: 90%;
    height: 466px;
    background-color: #fff;
    align-items: center;
    border-radius:32px;
    padding: 0 2%;
}
.item-services img {
    height: 418px;
    border-radius:32px;
}
.text-item-services {
    color: #5E5E5E;
    margin-right: 5%;
    margin-left: 5%;
    
}
.flex-reverse {
    flex-direction: row-reverse;
}
/* Gallery section */
.gallery {
    background-image: url('/assets/img/gallerybg.png');
    height: 1039px;
    background-size: cover;
    border-radius: 72px;
    color: white;
}
.title-row-gallery {
    padding-top: 100px; 
    width: 90%;  
}
.item-title-row-gallery {
    width: 40%;
}
.pre-title-row-gallery {
    width: 60%;
}
.img-gallery {
    width: 90%;
}
.img-gallery div {
    width: 49%;
    
}
.img-gallery div  img{
    width: 100%;
    height: 535px;
    border-radius: 24px;
}
.change-img-gallery p{
    position: absolute;
    margin: 2% 0 0 3%;
    color: black;
    background-color: white;
    padding: 16px 32px;
    border-radius: 72px;
    font-size: 16px;
    font-weight: 600;
}
.control-gallery {
    padding-top: 2%;
    width: 90%;
    align-items: center;
}
.link-controll-gallery {
    width: 60%;
}
.btns-control-gallery {
    width: 50%;
    color: white;
}
.btns-control-gallery button {
    padding: 0 5%;
    margin-left: 5px;
}
.link-controll-gallery a {
    font-size: 16px;
    color: white;
}

.item-img-gallery div{
    width: 100%;
    margin: 4% 0px 0px 5%;
    color: black;
}
.item-img-gallery div p {
    background-color: white;
}

/* testimonials */
.testimonials {
    width: 90%;
}
.title-testimonials p {
    align-items: center;
    width: 55%;
    color: #5E5E5E;
}
.item-postimonials {
    width: 26%;  
    background-color: #FAFAFA;
    border-radius: 32px;
    color: #5E5E5E;
    padding: 3%;
}
.item-postimonials span {
    padding-top: 20px;
}
.star-item-postimonials img {
    height: 22px;
    width: 22px;
}
.author-item-postimonials {
    font-size: 16px;
    font-weight: 400;
}
/* feedback section */
.feedback {
    height: 894px;
    background-image: url("/assets/img/feedback.png");
    background-size: cover;
    align-items: center;
    border-radius: 72px;
    margin-bottom: -200px;
    position: inherit;
}
.items-feedback {
    width: 90%;
}
.img-items-feedback{
 width: 58%;
}
.img-items-feedback img{
    width: 100%;
    height: 100%;
    border-radius: 32px;
}
/* Forms with inputs */
.form-feedback {
    width: 39%;
}
.inputs-form-feedback, .inputs-form-feedback {
    width: 100%;
}
.input-form-feedback {
    position: relative;
    margin: 5px 0;
}
.input-form-feedback input {
    width: 100%;
}

.form-input {
    font-family: "Manrope", sans-serif;
    /* padding: 2px 0px 0px 0px; */
    border-radius: 16px;
    height: 48px;
}
.form-input:focus {
    border: 1px solid #D9D9D9;
}
.form-input input::content{
    border: 1px solid #5E5E5E;
}
.form-label {
    position: absolute;
    left: 15px;
    top: 35%;
    color: #5E5E5E;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s ease all;
    color: #999;
    pointer-events: none; /* Чтобы метка не мешала вводу */
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    top: 15%;
    font-size: 10px;
    color: #5E5E5E; /* Цвет метки при фокусе */
    font-weight: 700;
    text-transform: uppercase;
}

.form-group {
    display: flex;
    gap: 10px;
  }
.inputs-form-feedback {
    display: flex;
    flex-direction: column;
}


form button {
    width: 100%;
    margin-top: 3px;
}

/* Footer */
footer {
    background-color: #342F28;
    height: 471px;
    margin-top: 5%;
    padding-top: 12%;
}
.folowbtn {
    border: none;
    width: 48px;
    height: 48px;
    background-color:#F37021;
    border-radius: 48px;
}
.footer-items {
    width: 95%;
    color: white;
}
.column-footer{
    width: 25%;
    padding-left: 20px;
}
.text-footer {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    line-height: 150%;
    margin-top: 50px;
}
.text-footer a {
    color:#F37021;
}
.link-text-footer {

    font-size: 18px;
    padding-top: 10px;

}
.btns-text-footer {
    margin-top: 20px;
}
.link-column-footer {
width: 18%;
}
.links-text-footer a {
    color: white;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    list-style: 27px;
}
.links-text-footer a:hover{
    color:#F37021;
}
.created-site{
    width: 67%;
    margin-left: auto;
    font-size: 14px;
    color: white;
    margin-top: -20px;
}
.created-site p {
    text-transform: uppercase;
}
.created-site span {
    margin-left: 18%;
}
/* mobile adaptation */
@media screen and (max-width : 1024px) {

}
@media screen and (max-width : 800px) {
    header {
        height: 57px;
        border-radius: 8px;
        width: 100%;
        position: fixed;
    }
    header button {
        display: none;
    }
    .nav-items{
        display: none;
    }
    .logo {
        width: 150px;
        height: 38px;
    }
    .logo img{
        margin-left: 20px;
    }
    .header-items {
        width: 100%;
        margin:unset;
    }
    h1 {
        font-size: 42px;
    }
    .first-screen {
        height: 550px;
        border-radius: 40px;
    }
    .content-first-screen{
        width: 100%;
        margin-top: 25%;
    }
    .btns-content-first-screen {
        display: block;
        width: 100%;
        height: 100%;
    }
    .btns-content-first-screen button {
        margin-top: 20px;
    }
    .primary {
        width: 90%;
    }
    .third {
        width: 90%;
    }
    l {
        font-size: 18px;
    }
    .title-content-first-screen {
        width: 90%;
        margin: auto;
    }
    .successes {
        display: block;
    }
    .item-successes {
        margin-top: 30px;
    }
    .item-services {
        display: block;
        height: unset;
        padding-bottom: 10px;
        width:90% ;
    }
    .img-item-services {
        width: 100%;
        margin-top: 10px;
        justify-content: space-around;
        
    }
    .img-item-services img {
        margin-top: 20px;
        height: 210px;
        width: 94%;
        
    }
    .subhead {
        font-size: 18px;
        width: 90%;
        margin-top: 10px;
    }
    h3 {
        font-size: 28px;
    }
    .gallery{
        background-position: center;
        border-radius: 58px;
    }
    .title-row-gallery {
        display: block;
    }
    h2 {
        font-size: 32px;
    }
    .pre-title-row-gallery {
        width: 100%;
        margin-top: 15px;
    }
    .m {
        font-size: 16px;
        font-weight: 400;
    }
    .pre-title-row-gallery button {
        width: 70%;
    }
    .img-gallery {
        display: block;
    }
    .img-gallery div{
        width: 100%;
    }
    .img-gallery div img {
        height: 230px;
    }
    .change-img-gallery {
        margin-top: 10px;
    }
    .control-gallery {
        display: block;
    }
    .btns-control-gallery {
        width: 45%;
        margin-top: 25px;
    }
    .control-gallery {
        margin-top: 25px;
    }
    .row-item-postimonials {
        height: 350px;
        display: inline-block;
        overflow: scroll;
        scroll-snap-type: proximity;
    }
    .item-postimonials {
        width: unset;
        padding: 25px;
    }
    .title-testimonials {
        display: block;
    }
    .title-testimonials p{
        width: unset;
    }
    .img-items-feedback {
        display: none;
    }
    .items-feedback form {
        width: unset;
        margin-top: 30px;
    }
    .form-feedback h1 {
        font-size: 32px;
    }
    .form-feedback p {
        width: 88%;
    }
}
@media screen and (max-width : 420px) {
    header {
        height: 57px;
        border-radius: 8px;
        width: 100%;
        position: fixed;
    }
    header button {
        display: none;
    }
    .nav-items{
        display: none;
    }
    .logo {
        width: 150px;
        height: 38px;
    }
    .logo img{
        margin-left: 20px;
    }
    .header-items {
        width: 100%;
        margin:unset;
    }
    h1 {
        font-size: 42px;
    }
    .first-screen {
        height: 550px;
        border-radius: 40px;
    }
    .content-first-screen{
        width: 100%;
        margin-top: 25%;
    }
    .btns-content-first-screen {
        display: block;
        width: 100%;
        height: 100%;
    }
    .btns-content-first-screen button {
        margin-top: 20px;
    }
    .primary {
        width: 90%;
    }
    .third {
        width: 90%;
    }
    l {
        font-size: 18px;
    }
    .title-content-first-screen {
        width: 90%;
        margin: auto;
    }
    .successes {
        display: block;
    }
    .item-successes {
        margin-top: 30px;
    }
    .item-services {
        display: block;
        height: unset;
        padding-bottom: 10px;
        width:90% ;
    }
    .img-item-services {
        width: 100%;
        display: flex;
        margin-top: 10px;
        justify-content: space-around;
        
    }
    .img-item-services img {
        margin-top: 20px;
        height: 210px;
        width: 94%;
        
    }
    .subhead {
        font-size: 18px;
        width: 90%;
        margin-top: 10px;
    }
    h3 {
        font-size: 28px;
    }
    .gallery{
        background-position: center;
        border-radius: 58px;
    }
    .title-row-gallery {
        display: block;
    }
    h2 {
        font-size: 32px;
    }
    .pre-title-row-gallery {
        width: 100%;
        margin-top: 15px;
    }
    .m {
        font-size: 16px;
        font-weight: 400;
    }
    .pre-title-row-gallery button {
        width: 70%;
    }
    .img-gallery {
        display: block;
    }
    .img-gallery div{
        width: 100%;
    }
    .img-gallery div img {
        height: 230px;
    }
    .change-img-gallery {
        margin-top: 10px;
    }
    .control-gallery {
        display: block;
    }
    .btns-control-gallery {
        width: 45%;
        margin-top: 25px;
    }
    .control-gallery {
        margin-top: 25px;
    }
    .row-item-postimonials {
        display: block ruby;
    }
    .item-postimonials {
        width: unset;
        padding: 25px;
    }
    .title-testimonials {
        display: block;
    }
    .title-testimonials p{
        width: unset;
    }
    .img-items-feedback {
        display: none;
    }
    .items-feedback form {
        width: unset;
        margin-top: 30px;
    }
    .form-feedback h1 {
        font-size: 32px;
    }
    .form-feedback p {
        width: 88%;
    }
    .inputs-row {
        display: block;
    }
    .input-form-feedback input {
        width: 90%;
    }
    #message {
        width: 90%;
    }
    footer{
        padding-top: 15%;
        height: unset;
        padding-bottom: 30px;
    }
    .column-footer{
        width: unset;
    }
    .text-footer {
        margin-top: 5%;
    }
    .mobile-row {
        display: flex;

        margin-top: 25px;
    }
    .mobile-row >.text-footer{
        /* width: 40%; */
        display: inline;
    }
    .footer-items {
        margin-top: 45%;
        display: block;
    }
    .imgs-text-footer {
        margin-left: -50%;
    }
    .support-icons {
        margin-left: 25px;
    }
    .support-icons > img{
        /* width: 100%; */
        width: 80%;
    }
    .xs {
        font-size: 14px;
    }
    .mob {
        display: none;
    }
    .links-text-footer {
        justify-content: space-between;
        text-align: left;
    }
    .created-site {
        display: block;
        margin-top: 25px
    }
    .mob-link{
        width: 50%;
        text-align: left;
        font-size: 18px;
        text-overflow: clip;
    }
}
